<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>2</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Happy</string>
				<string>Sad</string>
				<string>Meh</string>
			</array>
			<key>Title</key>
			<string>Mood</string>
			<key>Key</key>
			<string>mood</string>
			<key>DefaultValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>volume</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Name...</string>
			<key>Key</key>
			<string>name</string>
		</dict>
	</array>
</dict>
</plist>
